body{
    background-image: url("../images/history.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
a:link, a:visited {
    background-color: slategray;
    color: white;
    padding: 15px;
    text-decoration: none;
    display: inline-block;
}    
a:hover, a:active {
    background-color: mediumspringgreen;
    color: red;
}

.nav-links{
	flex:1;
	text-align:center;
}
.nav-links ul li{
	list-style:none;
	display:inline-block;
	padding:8px 12px;
	position:relative;
}
h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
p{
    color: white;
    font-size: 20px;
}
ul{
	color: white;
    font-size: 20px;
}